[2018-01-08 17:39] bfred-it opened #1 "Use web-ext"
I suggest leaving the manifest validation and packing to pre-existing tools offered by Mozilla (web-ext does both)

Also I'd rather see https://github.com/mozilla/webextension-polyfill added to manifest.json directly instead, e.g. [`ec960f0`](https://github.com/sindresorhus/refined-github/pull/798/commits/ec960f01443630369ddbd12d8a5f42a729e90cf6) — but perhaps it isn't a big deal, really, since it

[2018-01-08 17:53] HaNdTriX commented on #1
@bfred-it thanks for your feedback!

Awesome I'll take a look if they work for other vendors (`chrome`, `opera`, `edge`) as well.

I choose to add the `webextension-polyfill` via [webpack provide plugin](https://webpack.js.org/plugins/provide-plugin/) in order to

* omit it on vendors that don't need it (`firefox`, `edge`)
* enable it in files that are not part of the `manifest.json` (e.g. [inject

[2018-01-08 17:55] HaNdTriX opened #2 "Improve docs"
https://github.com/bfred-it/Awesome-WebExtensions/pull/30

Especially `build` and `dev`.

[2018-01-08 18:59] #2 closed

[2018-01-10 12:02] FrancoisPerez opened #4 "autoReload not working"
Executing `npm run dev chrome` won't trigger the copy of autoReload.js at the root directory of the extension

[2018-01-10 14:41] HaNdTriX commented on #4
If you are talking about the example you'll need to exec:  `$ npm run dev -- chrome`.
Otherwise do you have more infos?

[2018-01-10 14:52] HaNdTriX commented on #4
Just released a new version (v0.0.6) your might might already got resolved.

[2018-01-10 15:20] HaNdTriX opened #5 "Use unforked webextension-polyfill"
Waiting for https://github.com/mozilla/webextension-polyfill/pull/86 to get merged.

[2018-01-10 15:51] HaNdTriX commented on #1
**Quick Update:** Webextension-Toolbox now uses `web-ext` when compiling the extension for firefox.

https://github.com/HaNdTriX/webextension-toolbox/commit/b256052d9d658d503d0e43cbe2341df2a6e77315

[2018-01-10 15:51] #1 closed

[2018-01-11 12:16] santialbo commented on #4
Same issue here, running `npm run dev -- chrome` doesn't create the autoReload.js file on `dist/chrome/`

I'm running the latest version of the toolbox (0.0.6)

[2018-01-11 22:23] matthewgonzalez opened #6 "webextension polyfill not included"
Hey, thanks for this tool; exactly what I need!

The compiler doesn't seem to be including the webextension polyfill. I'm getting `browser is not defined` errors in the console.

[2018-01-12 14:19] HaNdTriX commented on #4
Thanks a lot for your feedback!

I just released `v0.0.7`. This version improved the resolving of these assets. Does it resolve your issue?

https://github.com/HaNdTriX/webextension-toolbox/commit/a8d27aab548f6a49eae13ed478db8a840c476d85

[2018-01-12 14:25] HaNdTriX commented on #6
Thanks a lot for your feedback!

I just released v0.0.7. This version improved the resolving of these assets. Does it resolve your issue?

### Note

Since the `webextension-polyfill` is added by the `webpack.DefinePlugin` it is only added if the keyword `browser` was used somewhere in your code at compile time. Nevertheless you won't have access to it in your console, unless you  set it explicitly

[2018-01-12 17:52] matthewgonzalez commented on #6
Hmm, still experiencing the issue (see screens below).

A clarification, I wasn't trying to call `browser` from the console, but was only seeing that error there as a result of it not being accessible in the default template code in `background.js`.

If you look at the sources in chrome devtools, Webpack doesn't seem to be including any of the webextension-polyfill code.

![background](https://use

[2018-01-13 02:16] matthewgonzalez commented on #6
Fixed with  680bffe67906bcd3c00a6490b84db6d60713a4c1

Thanks Henrik

[2018-01-13 02:16] #6 closed

[2018-01-13 17:00] HaNdTriX commented on #4
Closing this issue since we are already at `v0.0.8`. If this issue is still present please reopen!

[2018-01-13 17:40] qgerome opened #8 "JSX support"
Hello,

I'm trying to write a component in JSX but I receive an error:

[code]

Do you know why it does not support JSX despite the presence of the babel preset "react" in the webpack configuration ?

[2018-01-14 01:48] #8 closed

[2018-01-14 01:50] HaNdTriX commented on #8
Thank you for your feedback.

I just fixed this issue in version `0.0.9`. If your issue is not resolved please reopen!

[2018-02-05 11:27] m0a opened #9 "cant' build firefox extension"
thankyou for cool tool!

but firefox extension can't build.
firefox says `There was an error during installation: Extension is invalid`

it's error logs

[code]
code is [here](https://github.com/m0a-mystudy/my-web-extension).

[2018-02-06 07:28] HaNdTriX commented on #9
Thanks for reporting this!

The issue is related to `generator-web-extension`.
It is caused by the `omnibox` `keyword` in your manifest. It is not allowed to have whitespaces.

[code]

[2018-02-06 07:28] #9 closed

[2018-02-06 07:35] HaNdTriX commented on #9
Fixed by: https://github.com/HaNdTriX/generator-web-extension/commit/372a69ce8192fd8680847cc75bce7d430f0a0311

[2018-02-10 12:50] HaNdTriX opened #10 "Packed extensions can't be unzipped"
https://github.com/HaNdTriX/generator-web-extension/issues/6

[2018-02-18 10:41] JimMorrison723 commented on #4
For me, after a fresh install, it still doesn't copy the scripts directory.
Generated the extension via `yo web-extension` , then run any of the following commands:
`npm run dev chrome`
`npm run dev -- chrome`
`webextension-toolbox dev chrome`

Windows10
Node: 9.3.0
NPM: 5.6.0
webextension-toolbox: 0.1.4
generator-web-extension: 0.0.5

[2018-03-05 02:28] AleksueiR opened #11 "Typescript support"
Would it be hard or at all possible to add the support for Typescript?

[2018-03-05 17:23] HaNdTriX commented on #10
Since the zip is there for webstore uploads and works. Therefor we will stay with the current format.
Drag & Drop install is deprecated anyway.

[2018-03-05 17:23] #10 closed

[2018-03-06 00:55] HaNdTriX commented on #11
Right now I believe yes. Since the webpack config isn't exposed to the user.
We might change this in the future.

[2018-03-15 14:39] HaNdTriX opened #15 "Add windows support"
More info: https://github.com/HaNdTriX/generator-web-extension/issues/9

[2018-03-15 16:02] balcsida commented on #15
I've experienced issues on Windows as well, I will try to take a look on this.

[2018-03-15 18:29] HaNdTriX commented on #15
Awesome thanks 🙏

[2018-03-21 13:11] balcsida commented on #15
It seems that the problem is in the path handling. Will dig deeper, just wanted to document my progress.
[code]

[2018-03-21 21:35] balcsida opened #16 "Transforming manifest vendor keys only works on first level"
Vendor prefixed manifest keys only gets replaced on the first level of the manifest.json file.
E.g:

[code]
This gets copied as-is.

[2018-03-23 05:12] HaNdTriX commented on #16
Good catch!

[2018-03-23 05:13] #16 closed

[2018-03-27 09:56] jkodu opened #17 "Support for SCSS and TS."
Great toolbox. Thanks for the hardwork.
Would it be possible to add your own loaders to the webpack config?
Need to add scss-loader and or ts-loader.

Thanks again.

[2018-03-27 13:44] HaNdTriX commented on #17
We are planning a configuration option for this in the next mayor release. Please check out https://github.com/HaNdTriX/webextension-toolbox/pull/18 for the progress on that.

[2018-03-27 13:44] HaNdTriX commented on #11
We are planning a configuration option for this in the next mayor release. Please check out https://github.com/HaNdTriX/webextension-toolbox/pull/18 for the progress on that.

[2018-03-27 14:00] jkodu commented on #17
Excellent thanks :) Looks good.

[2018-03-27 14:00] #17 closed

[2018-03-27 17:40] HaNdTriX commented on #17
Good news! I just released the `webextension-toolbox@1.0.0-beta.1` Version.
If you want to play around with it install it via:

[code]

[2018-03-27 17:41] HaNdTriX commented on #11
Good news! I just released the `webextension-toolbox@1.0.0-beta.1` Version.
If you want to play around with it install it via:

[code]

https://github.com/HaNdTriX/webextension-toolbox/tree/next#customizing-webpack-config

[2018-03-28 08:25] balcsida commented on #15
Unfortunately this only caused by the ZIP module. Running 'dev' still hangs after webpack-clean.

[2018-03-28 16:13] HaNdTriX commented on #15
Hmm that is weird, since the ZIP module should be disabled in dev mode.
In devmode (`webextension dev chrome`) we should not use packed extensions. https://github.com/HaNdTriX/webextension-toolbox/blob/next/src/webpack-config.js#L177-L182

Does the bug also appear in the new beta Version? If yes can you add the new Error msg?

[2018-03-28 23:19] HaNdTriX commented on #5
This issue has been resolved in the new beta Version

https://github.com/HaNdTriX/webextension-toolbox/tree/next

[2018-03-28 23:19] #5 closed

[2018-03-31 11:25] balcsida opened #20 "[Idea] Move example(s) to separate repo(s)"
Maybe even create an organization for all of the webextension-toolbox related repo?

[2018-03-31 11:29] balcsida commented on #15
I will have time to try out the latest beta version, hopefully, with promising results.

[2018-04-01 08:55] HaNdTriX commented on #15
@balcsida

It should have been fixed in the last beta.5 release.

Good news I found the itch. Nevertheless I need some time to do the PR.
Hopefully on monday we will have this finally fixed. Thanks for bringing me on the right track!

https://github.com/Milanzor/webpack-watched-glob-entries-plugin/blob/master/index.js#L88-L101

[2018-04-02 21:36] HaNdTriX commented on #15
https://github.com/Milanzor/webpack-watched-glob-entries-plugin/pull/7

[2018-04-03 07:43] HaNdTriX commented on #20
Organization sounds good but I prefer a monorepo instead.
A monorepo is much easier to manage and not as much work.

* https://lernajs.io/
* Example [babel](https://github.com/babel/babel)
* Example [create-react-app](https://github.com/facebook/create-react-app)

[2018-04-03 07:46] balcsida commented on #15
Thank you! I didn't have time and knowledge to find this. Did you try it on a Windows machine by the chance?

[2018-04-03 07:47] HaNdTriX commented on #15
Yes, I used a VM for that.

[2018-04-04 21:25] balcsida commented on #20
That's okay, but is it possible to leave the examples folder out with an .npmignore?

[2018-04-04 21:30] balcsida commented on #20
Ohh, ignore this completely, I feel really dumb. :|

[2018-04-04 21:30] #20 closed

[2018-04-04 22:48] balcsida commented on #15
Hmm, it seems that if I ´dev chrome´ on Windows cmd/PowerShell, ES6 modules does not work and somehow WebExt polyfills does not applied either...
From Ubuntu, it works fine

[2018-04-04 23:32] balcsida commented on #15
Okay, it seems that this is only occurs when webpack is trying to inject webextension-polyfill.
For Ubuntu, the path separators are correct. E.g:
[code]

However, on Windows, it looks like this:
[code]

[2018-04-05 08:17] HaNdTriX commented on #15
Can you try to delete your modules and reinstall them a gain.
I had an issue regarding the beta versions.

[code]

[2018-04-05 08:54] HaNdTriX opened #22 "Add Edge autoreload support"
## Expected Behavior

Autoreload should work in MS-Edge.

## Current Behavior

In MS-Edge websocket connections to `localhost` are blocked by design.

* https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8984919/
* https://docs.microsoft.com/en-us/microsoft-edge/extensions/guides/native-messaging

## Steps to Reproduce (for bugs)

1. Run `webextension-toolbox dev edge`
2. Open ba

[2018-04-05 09:32] HaNdTriX commented on #15
Good catch! I just fixed this issue in Version `webextension-toolbox@beta.7`.

https://github.com/HaNdTriX/webextension-toolbox/commit/285811e6789f1a71b23bd17459669fc9b368adb3

I didn't know, that the loaders have different paths as well. Lessons Learned! 😜

[2018-04-05 11:32] HaNdTriX commented on #22
Since not even localhost is working properly I am not sure how the bypass this restriction.
I thought about moving over to a polling approach in edge, but that doesn't work either. 🤔

[2018-04-05 11:35] HaNdTriX commented on #4
We just published a beta release to tackle this issue.
If you want to check it out install it via:

[code]

[2018-04-05 12:51] balcsida commented on #22
What Windows 10 build are you using for testing?

[2018-04-05 12:55] balcsida commented on #22
Also, you can check this flag under `about:flags`
![image](https://user-images.githubusercontent.com/1768446/38366852-5a944112-38e1-11e8-833a-551e68366f90.png)

[2018-04-05 16:41] HaNdTriX commented on #22
https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

Doesn't change it

[2018-04-05 17:24] balcsida commented on #15
Hi!

I've tested beta 7 with the sample extension and with a more complicated (meaning: full of import-export and browser APIs) and now it works as expected under Chrome and Opera.

Thank you, great job! 🙂

[2018-04-05 20:00] JimMorrison723 commented on #4
i quickly checked it (not through fully, only chrome), and looks like it's working as intended 👍

[2018-04-06 08:04] #15 closed

[2018-04-06 08:06] HaNdTriX commented on #4
@JimMorrison723 Thanks a lot for looking into it!

[2018-04-06 08:06] #4 closed

[2018-04-06 08:13] HaNdTriX commented on #11
We just published Version 1.0.0. You can now add typescript manually:

https://github.com/HaNdTriX/webextension-toolbox#customizing-webpack-config

### This is how it could look like:

[code]

**webextension-toolbox.js**

[code]

[2018-04-06 08:13] #11 closed

[2018-04-06 16:35] balcsida commented on #22
I installed the latest version of Windows 10 (1803, Build 17133.1) yesterday and I will try make some tests on the weekend.
If it is still not working, then we can try both native messaging (requires an UWP app)
 or XHR/Fetch.

[2018-04-09 11:33] andreicristianpetcu opened #26 "Please add Karma support or any other unit testing framework"
## Expected Behavior
I should be able to do unit testing from the start.
I just [added this feature manually](https://github.com/andreicristianpetcu/privacy_labrador/commit/93d3885e8daf76749b40f0370eec4bb396ae82bc) on my project that uses webextension-toolbox

## Current Behavior
I am unable to do any unit testing on the project.

## Context
I tend to do TDD on my extensions because even if they a

[2018-04-09 11:38] andreicristianpetcu commented on #26
Closing... wrong repo. Sorry :(

[2018-04-09 11:38] #26 closed

[2018-04-23 20:30] balcsida commented on #22
I did some fiddling around today and found qzind/tray#6
When I disabled "Include all local (intranet) sites not listed in other zones", the WebSocket connection worked like expected
![fix_edge_websocket](https://user-images.githubusercontent.com/1768446/39151474-a0ab6ea6-4745-11e8-8f59-b2aafd101da2.gif)

[2018-05-23 13:00] JimMorrison723 opened #31 "Customizing webpack config problem on Windows"
## Expected Behavior
When i want to extend  usage of Webpack by creating `webextension-toolbox.js`, it should just work.

## Current Behavior
I add `webextension-toolbox.js`, paste code from readme, and add jquery plugin, i got Windows Srcript Host errors all the time. simetimes 1:1, by default it gives error to `dev, vendor`, it expects `:`

## Steps to Reproduce (for bugs)

1. generate extension

[2018-05-24 06:37] bboydflo commented on #31
@HaNdTriX I posted a similar issue on the generator repo. Not sure what's wrong. I am also on Windows. will try the same later, on a mac

[2018-05-25 11:30] Linard11 commented on #31
I also stumbled upon this problem but I quickly found out through a google search that this is a problem of Windows if no **default program for .js** files is set. Set it to your IDE or text editor and it should not throw this error anymore.

Only slight problem: Even though it will not throw an error, if a webextension-toolbox.js file is present in the root folder, the building will exit without

[2018-05-25 11:49] Linard11 opened #32 "Building exits prematurely when webextension-toolbox.js exists"
## Expected Behavior
If a webextension-toolbox.js file is present in the root directory of my project, with the code snippet provided by the readme, the webextention should build with all configurations for webpack made by the toolbox itself in addition to the rules, plugins, ect. pushed into their respective arrays by the code inside the snippets webpack() function
[code]

## Current Behavior
The

[2018-05-25 12:45] JimMorrison723 commented on #31
It's working now. All i got after that, was a `ReferenceError: webpack is not defined`, but it can be easily solved. Made a pull request (#33), so in the future developers don't have to worry about that either.

Next, i'll look into `webpack-webextension-plugin`. For me, seems like after the first reload it is losing connection (Inspecting background page, only the generated background page is ava

[2018-05-25 12:51] balcsida commented on #32
Hi @Linard11 ,

Do you experience this when you are using WSL Ubuntu/Debian Bash?

[2018-05-25 13:18] Linard11 commented on #32
@balcsida I'm at work right now, so I have to test this on WSL and a real Debian Environment once I'm home. Only thing I can offer until then is git bash which did not work either

[2018-05-26 11:12] balcsida commented on #32
No worries. I will try to reproduce it based on your steps.
Will see if this is a Windows specific issue. If not, at least we can cross out something. 🙂

[2018-05-27 14:01] Linard11 commented on #32
@balcsida hey, sorry to get to you so late. I just tested it with WSL and it worked without a hitch. So I guess this is a Windows specific issue.

[2018-05-28 04:34] bboydflo commented on #31
It does work on a mac, the issue appears only on windows for me.

[2018-05-28 09:39] Linard11 commented on #31
@JimMorrison723 @bboydflo requiring weback did not work for me. Still the same problem (see #32)

[2018-05-28 09:44] bboydflo commented on #32
@Linard11 I can also confirm that is a windows specific issue. and I guess that the issue is connected to using `find-up` module. check: https://github.com/sindresorhus/find-up/issues/23

[2018-05-28 11:20] balcsida commented on #32
Hey @Linard11 ,

No worries, I didn't had enough time to check it on my side.
Thanks for checking! 👍 🙂

Hey @bboydflo ,
Thanks for confirming!

I will ask @HaNdTriX to create a tag for Windows specific issues.
Until that time, I have to recommend you to use Ubuntu on WSL as a workaround.

[2018-05-29 11:03] Linard11 commented on #32
Working with WSL instead of Powershell is per se not that big of a deal as I can just open a different terminal and use the same command, but WSL seems to have some weird write lock problem when using the development mode for hot-reloading. While running `dev`, Webstorm is unable to save changes I make, giving me a error promt:
[code]

[2018-06-08 20:16] balcsida commented on #22
In short, this registry file should do the trick:
[code]

[2018-06-08 20:48] bboydflo commented on #22
@balcsida  and @HaNdTriX  maybe move these docs to the readme.md?

[2018-06-09 01:36] balcsida commented on #32
Hey @Linard11 ,

Could you please try with cloning/pulling changes from this repo and `npm link` to your project?

Thank you in advance!

[2018-06-09 01:37] balcsida commented on #31
Hey @JimMorrison723,

Could you please try with cloning/pulling changes from this repo and `npm link` to your project?

Thank you in advance!

[2018-06-09 02:18] balcsida commented on #22
I was thinking about something more... automatic... but you are right, this should be in the README as well

[2018-06-09 16:42] Linard11 commented on #32
Even with the most recent changes from the repo the issue persists, that the build process stops when `webextension-toolbox.js` exists

[2018-06-09 17:30] balcsida commented on #32
Thanks for trying out, will take a closer look then (how naive I was that this would be fixed with a simple dependency update 😆)

Completely OFF topic: Your avatar. Is it from bakemonogatari?

[2018-06-09 18:33] Linard11 commented on #32
Yes

[2018-06-09 18:38] Linard11 commented on #31
https://github.com/webextension-tools/webextension-toolbox/pull/37 should fix this issue

[2018-06-09 20:47] balcsida commented on #31
I've tried and as @Linard11 mentioned, #37 fixed this issue.
Note: I had to install locally or link webpack to make this work. I got `Cannot find module 'webpack'` error without doing this.

[2018-06-11 16:16] JimMorrison723 commented on #31
Looks like issues solved.

[2018-06-11 16:16] #31 closed

[2018-06-11 22:15] #22 closed

[2018-06-11 22:17] balcsida commented on #22
In the future, we might use something like QZ does (localhost.qz.io) or ask them to allow us to use this domain.

[2018-06-12 07:51] bboydflo opened #38 "question: next release?"
## Expected Behavior
Maybe it's time for a new release?

## Current Behavior
Current release doesn't allow for configurable webpack config, but that has been fixed in the meantime #31 and #37

## Steps to Reproduce (for bugs)

## Context
I want to use the latest version to be able to config webpack further

## Your Environment
OS: windows 10
webextension-toolbox: 1.0.5
node: 8.9.4

[2018-06-12 09:00] Linard11 commented on #38
In the meantime you can already use the latest version by cloning the repo and npm/yarn link it to your project (note that yarn currently has issues with installing dependencies of linked packages: yarnpkg/yarn#2914)

[2018-06-12 09:03] bboydflo commented on #38
of course 👍

[2018-06-12 10:04] balcsida commented on #38
Hi,

Only @HaNdTriX has access to the NPM side of webextension-toolbox, so we will have to wait.

[2018-06-12 16:03] HaNdTriX commented on #38
Thank you guys for your awesome job!
Sorry that I was letting you wait. In order to improve our release cycles I'll grant @balcsida npm publish rights.

In addition to that I just released Version 1.1.1

https://www.npmjs.com/package/webextension-toolbox/v/1.1.1

[2018-06-12 16:03] #38 closed

[2018-06-18 19:17] balcsida commented on #22
Maybe use [xip.io](http://xip.io/) for this?
[code]

[2018-06-26 21:38] HaNdTriX opened #57 "Should we disable minification?"
### Problem

Some webstores doesn't like it, when extension code is minified.
This makes their review more complex.

### Possible solutions

A. Disable minification
C. Enable minification (everything stays the same)
B. Add an cli flag to leave it up to the user (default will be disabled)
D. Add an cli flag to leave it up to the user (default will be enabled)

### Related docs

https://webpack.js.o

[2018-06-29 04:41] bboydflo commented on #57
if that's implemented would it be possible to enable minification again?

[2018-07-04 15:17] codewithcheese opened #58 "Debugging with source maps"
Thanks so much for the webextension toolbox.

I feel really dumb since I can not for the life of me to get sourcemaps to load in Firefox. The .map files are present but in Firefox they fail to load.

I have managed to get them working in chrome by adding the extension directory as a workspace.

I generated a extension with generator-web-extension and have tried loading it via about:debugging in fi

[2018-07-05 05:00] HaNdTriX commented on #57
@bboydflo in solution B & D yes.

So far I know dead code elimination will be disabled as well. This might suck a projects like react, that depend heavily on  dead code elimination.

[2018-07-05 05:10] HaNdTriX commented on #58
We use webpacks devtool feature under the hood.
So you can choose between the following source-maps types: https://webpack.js.org/configuration/devtool/

From what I understand from the following issue is that not all source-maps will work in Firefox.
https://github.com/webpack/webpack/issues/1194. Especially in Firefox extensions they are having issues.

Since I am currently on vacation, I can't

[2018-07-05 19:31] balcsida commented on #58
Hi @codewithcheese,

If it's not a problem, I reopened this issue and I will add this information to the README.md, as this can be useful for others as well.

[2018-07-05 23:39] #58 closed

[2018-08-06 01:04] balcsida opened #68 "Use xip.io for WebSocket connection with Edge"
Instead of depending on a workaround that requires user interaction (see #22 for more info), we should bake a workaround into the the tool itself.
As accessing the remote DNS server requires an active internet connection, checking it is a good idea (maybe using [is-online](https://github.com/sindresorhus/is-online) npm package)

[2018-08-15 13:05] HaNdTriX opened #72 "Guard browser polyfill in contentscripts"
https://github.com/mozilla/webextension-polyfill/pull/153

[2018-08-16 09:14] bboydflo commented on #57
👍 for B or D in this order.

[2018-08-17 15:02] balcsida commented on #57
I've checked and it seems that AMO allows you to upload the un-minified version of your code separately for the manual review.
What if we generate two seperate package on `webextension-toolbox build firefox`, one with minified and dead code elimination, and one without it?

[2018-08-17 15:42] JimMorrison723 commented on #57
I'd say go with option D.
No need to complicate things (and build a not minified version with cli flag is fine)

[2018-08-27 21:30] jairorudas opened #78 "Does WebExtention has support for Safari?"

[2018-08-27 22:02] balcsida commented on #78
Hi @jairorudas,

Thanks for raising this question!

No, WebExtension Toolbox does not support Safari and I don't think we will support it in the near future due to the following reasons:

- Safari has very different APIs.
- Safari Extensions are deprecated, Safari 12 is the last release to support them.
- The new way is Safari App Extensions, which is basically a macOS App. You need XCode and othe

[2018-08-28 14:50] balcsida commented on #78
Based on your last comment, I closed this issue.
Please reopen it anytime if you experience any improvement in Safari APIs or you think I missed something.

[2018-08-28 14:50] #78 closed

[2018-08-29 09:42] balcsida opened #82 "Extension autoreload is broken on Chrome"
## Expected Behavior
On file change, the browser should reload the extension and the current page

## Current Behavior
On file change, the browser window is reloaded, but you have to manually reload your extension

[2018-09-09 00:17] balcsida commented on #82
This was probably caused by WSL for me, will close this now

[2018-09-09 00:42] balcsida opened #85 "Polyfill option is removed from babel-transform-runtime RC4, causing build to break"
During the manual testing of #81, building the bookmark-it extension failed because Babel 7-RC4 removed polyfill option from transform-runtime (see babel/babel#8547 for more info on that).

First of all, I would like to fix this issue, it seems that simply removing this configuration option from our side is enough.
Secondly, I will open a separate Issue, so next time npm test will try to build the

[2018-09-09 00:45] balcsida opened #86 "Improve test: build the example extension"
As I mentioned on #85, I would like to add extra commands to the test script to build the example extension.
This will make it easier to catch similar breaking changes.

[2018-09-09 00:50] #85 closed

[2018-09-09 00:57] #86 closed

[2018-09-12 17:12] balcsida opened #92 "Release new version"
Hi everyone,

As Babel 7 stable is out, I think it is time to release a new version of WebExtension Toolbox.
@HaNdTriX was kind enough to provide me an npm publish access but I never ever released anything before. He recommended me to use sindresorhus/np for the release, but I'm still figuring out whether should I bump the minor or the major version (to 2.0.0).

Could you please help me out in thi

[2018-09-12 21:01] HaNdTriX commented on #92
I already release 2.0.0 on Sep 10, 2018. 😉

https://github.com/webextension-toolbox/webextension-toolbox/commits/master

Since we had breaking changes it was a 2.0.0 Release.

More on choosing the right version at: https://semver.org/

[2018-09-12 21:01] #92 closed

[2018-09-12 21:08] balcsida commented on #92
Then I was thinking right, thanks for the confirmation.
I checked that documentation but I feared that I would break something by bumping this much.

[2018-09-17 10:54] bboydflo opened #93 "typescript (.ts) entry point support"
Hi,

I would like to use typescript together with `webextension-generator/webextension-toolbox`. I have tried to import a typescript file and works fine, but I cannot provide a typescript file as an entry point.

## Expected Behavior
A typescript file e.g. `main.ts` (found in `./app/scripts/main.ts`) should be a compiled to `./dist/chrome/scripts/popup.js`

It would be nice to support typescript f

[2018-09-17 11:33] bboydflo commented on #93
I fixed this by overwriting `config.entry`. I've got some inspiration from the actual source code. I am not sure that this lib should support typescript out of the box, mainly because there are multiple loaders one could use.

Closing for now

[2018-09-17 12:02] balcsida commented on #93
Hi @bboydflo,

Could you please share the code and configuration you have used?
This should be a useful Readme/Wiki entry for others.

If it is not a problem, I reopened this issue and added the "documentation" label to it.

Kind regards,
balcsida

[2018-09-17 12:07] bboydflo commented on #93
@balcsida Something like this should work: I have removed some parts from my original code.

inside `webextension-toolbox-config.js`

[code]

[2018-09-17 12:10] balcsida commented on #93
Thanks for your quick reply!
I will add this to the documentation and keep this ticket opened until.

[2018-09-17 13:44] bboydflo commented on #93
I have noticed that my `.ts` files get copied over dist folder so I changed my `webextension-toolbox-config.js` a bit. I also had to add support for `tslint` so I added some more config like below. I hope it helps someone.

[code]
To add support for `tslint` using `tslint-loader` install `tslint-loader` as a dev dependency (`npm i -D tslint-loader` and uncomment `tslint-loader` lines from above

[2018-09-24 09:56] thuy-le-ep commented on #93
Is there any way to exclude a folder when compile? E.g. I have 3rd libraries in folder "notCompileScripts" and I want keep them not compile.

## Expected Behavior
A 3rd file e.g. `jquery.js` (found in `./app/notCompileScripts/jquery.js`) should be keep in `./dist/chrome/notCompileScripts/jquery.js`

## Current Behavior
All `.js` file in `notCompileScripts` will be ignored as entry file .

## Steps

[2018-09-24 11:45] bboydflo commented on #93
@thuy-le-ep I have added some sample code above on how to register/overwrite entry points. In my case I needed to overwrite entry points to support `.ts` and `.tsx` files. in your case I think something like this should work:

[code]

[2018-09-24 15:06] thuy-le-ep commented on #93
@bboydflo thank you. But it not work. I think `webpack-watched-glob-entries-plugin` to restart the compiler in watch mode, when new files got added or changed.

[2018-09-25 07:06] bboydflo commented on #93
@thuy-le-ep do you have any repo to reproduce this?

[2018-09-25 10:18] thuy-le-ep commented on #93
@bboydflo update
 `copyIgnore: ['**/!(notCompileScripts)/*.js','**/*.json']`
 can work with case
`notCompileScripts\keepScript.js -> dist\notCompileScripts\keepScript.js`
but not work with case
`notCompileScripts\some-dir\keepScript.js`

Do you have any idea? Thank you

[2018-09-25 10:39] bboydflo commented on #93
maybe something like this?
[code]

[2018-09-25 10:56] thuy-le-ep commented on #93
@bboydflo I was tried this but the result same `'**/!(notCompileScripts)/*.js'`

[2018-09-25 20:20] bboydflo commented on #93
@thuy-le-ep can you share the whole `webextension-toolbox-config.js` ?

[2018-09-26 02:39] thuy-le-ep commented on #93
@bboydflo app structure

[code]
and `webextension-toolbox-config.js`

[code]
When `dev` or `build`, only the file in folder `notCompileScripts` will to keep without file in sub-folder.
[code]
But I want keep all files and files in all sub-folders.

[2018-09-26 04:59] bboydflo commented on #93
so I revisited your original question

and I think it's still possible since you have access to the original config options you still can tweak them as you wish. I think maybe what you need is this: https://webpack.js.org/configuration/module/#module-noparse maybe something like this:

[code]

try this and see if it works. maybe you also need to tweak the `'copy-webpack-plugin' config. good luck!

[2018-09-26 05:17] thuy-le-ep commented on #93
@bboydflo ok thank you 👍

[2018-10-03 09:38] bboydflo commented on #57
I think this needs to be added asap. Please read the official blog: https://blog.chromium.org/2018/10/trustworthy-chrome-extensions-by-default.html where it among others says that minified source code is allowed but it is not allowed to mangle name variables and methods.

[2018-10-04 21:08] balcsida commented on #57
Hi @bboydflo,

Thanks for bringing my attention to this and apologies for not reacting earlier on your comment.
Nowadays, I have lots of things on my plate (higher load during work, plenty of extra projects, ~3-4 hours of sleep), so I cannot guarantee anything regarding this yet.
Anyway, I added the major priority flag to indicate the importance of this.

[2018-10-04 21:37] balcsida commented on #72
Merging mozilla/webextension-polyfill#153 closes this issue

[2018-10-06 09:30] #72 closed

[2018-10-14 17:20] balcsida opened #103 "Move from AppVeyor to Azure Pipelines"
AppVeyor is too slow

[2018-10-14 17:41] #103 closed

[2018-10-14 19:13] balcsida commented on #57
Started working on this

[2018-10-14 19:26] balcsida opened #105 "webextension-polyfill should be included for Edge output"
This is important because of this issue:
webextension-toolbox/generator-web-extension#20

[2018-10-17 01:40] carlin-q-scott opened #106 "Provide more information when manifest.json fails validation"
## Expected Behavior

manifest.json passes validation.

## Current Behavior
I get this error with no other context:

## Steps to Reproduce (for bugs)

1. `npm install --save-dev webextension-toolbox`
2. `npx webextension-toolbox build firefox`

## Context

I'm trying to build https://github.com/carlin-q-scott/browser-media-players/tree/webextension-toolbox but my manifest.json is failing validatio

[2018-10-31 23:49] balcsida commented on #106
Hi @carlin-q-scott,

Thank you for bringing up this improvement idea.
I agree with you, the error message for this could be improved.

I also checked your repo and the cause in your case that there is no seperate folder which contains all of your source for the extension itself (the 'src' by default). I  kindly ask you to reorganize your code and separate your browser extension's code from the res

[2018-11-01 21:21] balcsida opened #108 "Shorthand vendorVersion does not work"
The shorthand argument for `--vendorVersion`, `-vv`, does not work because commander.js does not support two character shorthand.
This should be easily fixed by changing it to one character :slightly_smiling_face:

**Workaround:** use the full argument `--vendorVersion`

Discovered while working on #57, #107

[2018-11-01 21:31] balcsida commented on #57
Hi everyone,

Thanks for your kind patience.

I made some progress on this case today, now we have a command line argument `--no-minimize`/`-m` for the build command, which disables Webpack minimize.
I manually tested it and it works as expected. Just need to add some test cases and we are good to go.

I've also discovered a bug while working on this issue.

[2018-11-04 13:45] #57 closed

[2018-11-09 17:37] bboydflo commented on #106
I had the same issue today, and found out that webextension-toolbox uses `webpack-webextension-plugin` (https://github.com/webextension-toolbox/webpack-webextension-plugin) under the hood. maybe the issue should be raised in there

[2018-11-12 00:02] #108 closed

[2018-11-16 20:50] carlin-q-scott commented on #106
@balcsida Thank you for providing me with a solution to my particular issue but the overall issue is that people don't know why validation fails, or in my case, why I was told validation had failed when in fact the issue wasn't related to the manifest at all. If you're ok with reviewing everyone's source code when they get a validation error then we do in fact have a workaround. I however think th

[2018-11-28 06:11] bboydflo opened #114 "expose babel config"
## Expected Behavior
I would like to be able to configure `babel-loader`. Today the boilerplate this project offers is tightly coupled to react (includes react specific config for babel-loader). It would be nice to have an easier way to configure this (maybe do babel config in package.json?).

## Current Behavior
No easy way to configure babel. `webextension-toolbox` is tightly coupled to `react`

[2018-11-29 20:54] bboydflo commented on #114
I actually found a way to customize `babel-loader` in `webextension-toolbox-config.js` using something like this:
[code]
and put the relevant babel config in `.babelrc`

[2018-12-01 14:53] balcsida commented on #105
Depends on mozilla/webextension-polyfill#114

[2018-12-01 15:09] balcsida commented on #106
Hi @carlin-q-scott,

While I understand that improving manifest.json validation output is necessary, I think I wasn't clear about the workaround part.
The workaround here is to build up folder structure where WebExtension Toolbox expects it, based on the output of WebExtension Generator. I understand that this requires manual work and I think this would deserve some additional documentation.

I ch

[2018-12-02 18:22] balcsida opened #116 "Test builds extension with publicly available npm package"
This is the epic, double facepalm moment.
The npm test command will npm install webextension-toolbox from the public repo.

[2018-12-02 18:45] #116 closed

[2018-12-11 21:53] james-r-smith opened #120 "QUESTION :: How to Run Development Locally"
## Context

I'm new to front-end / web extension development. I would like to develop my WebExtension locally. I'm unsure how local development is done with this package. `build` is working fine with `Load Temporary Add-on...` in FireFox, but is constantly refreshing the add-on the development process for extension developers? I was hoping there would be a live-reload, and I could just open my bro

[2018-12-17 13:00] ilan-toluna opened #122 "webpack.DefinePlugin usage"
Hi
I would like to inject global js variables into the extension.

So i edit webextension-toolbox-config.js like so:

However, GLOBAL_VAR is not defined in background context nor in popup

How can we achieve this using the toolbox?

[2018-12-27 02:05] NuroDev opened #125 "Native VueJS support?"
### A nice quality of life improvement

Is there any plans to add native VueJS support in the future? I know it can be done already by using a custom `webextension-toolbox-config.js` file, but having native support in the future would be nice 😄

[2018-12-31 00:22] NuroDev opened #126 "Expose copy files ignore"
Currently, the webpack copy plugin has a pre-defined set of file extensions to ignore. Exposing this would be super helpful to let people blacklist file types from being copied over that they do not want 👍
Or an alternative is an option to toggle/disable copying all other files in your `app` directory to the build directory 😄

[2019-01-02 15:11] balcsida commented on #120
Hi @james-r-smith,

My apologies for the late reply. Happy new year to you!
I'm not sure what would you like to achieve with your extension. If I suspect correctly, you would like to see HTML page after you load your extension.
While that is certainly possible, WebExtensions are a little bit different from a normal Web application: you can extend the capabilities of your browser and/or the pages y

[2019-01-02 19:23] balcsida commented on #105
Because of the recently announced "Edge switches to Chromium" move, I put this issue to "On Hold"

[2019-01-02 19:24] balcsida commented on #68
Because of the recently announced "Edge switches to Chromium" move, I put this issue to "On Hold"

[2019-01-05 22:09] pbek commented on #125
webextension-toolbox is great and I love it! Is there any way to get VueJS running with it? I haven't figured one out so far. I wanted to port https://github.com/qownnotes/web-companion/ to VueJS...

[2019-01-05 22:50] NuroDev commented on #125
@pbek I'm currently working on a project and have managed to get it working for now but it has a few issues. Mainly that Vue dev tools does not work and that due to the preset webpack copy ignore setup, it will still copy over the `.vue` files even though they are not needed post build.

Have a look here for how I did it 😄
[github.com/tdemapp/tdem](https://github.com/tdemapp/tdem)

[2019-01-06 05:40] pbek commented on #125
Ah, thank you! So you are working with ` "content_security_policy": "script-src 'self' 'unsafe-eval'; object-src 'self'"`, I didn't dare to do that yet. I will try that out today! Thanks a lot so far!

[2019-01-06 21:13] pbek commented on #125
@NuroDev your extension is really a great help for me getting going with VueJS, thank you very much!

[2019-01-07 14:02] balcsida commented on #125
Hi @NuroDev, @pbek,

Thank you for bringing up this idea.
While I don't have deep experience with Vue.js, a colleague of mine was able to use it with WebExtension Toolbox.
I will ask him how he did it.

Kind regards,
@balcsida

[2019-01-09 05:54] pbek commented on #125
I now released https://github.com/qownnotes/web-companion/ for Chrome and Firefox, thank you again @NuroDev for your help and @balcsida for your great tools!

[2019-01-09 15:30] NuroDev commented on #126
No problem. I actually found a solution to the issue. In one of your other issues, #93 to be exact, a user actually shows how to override the default `copyIgnore` object with your own.
[github.com/webextension-toolbox/webextension-toolbox/issues/93](https://github.com/webextension-toolbox/webextension-toolbox/issues/93#issuecomment-422022157).

I can use this to disable the file extensions I need

[2019-01-09 15:30] #126 closed

[2019-01-09 16:03] balcsida commented on #105
Dependant ticket was closed because of Edge's moving to Chromium, for this reason, I close this issue.

[2019-01-09 16:03] #105 closed, assigned to balcsida

[2019-01-09 16:04] balcsida commented on #68
Because of the  "Edge switches to Chromium" move, I close this issue.

[2019-01-09 16:04] #68 closed

[2019-01-09 16:06] balcsida commented on #120
Hi @james-r-smith,

I was wondering if you have had time to check my previous comment.
If it is not a problem for you, I will go ahead and close this issue now.
Please let me know if you have any further question regarding this matter.

Kind regards,
@balcsida

[2019-01-09 16:06] #120 closed

[2019-01-09 16:13] balcsida commented on #93
Raised priority to major. I will document this as soon as possible.

[2019-01-09 16:13] balcsida commented on #126
Hi @NuroDev,

I'm glad that this matter is resolved for you.
I raised the priority on #93 in order to have that documented properly.

Kind regards,
@balcsida

[2019-01-10 09:51] balcsida commented on #125
Hi @pbek,

I'm happy to hear that you were able to release your extension.
I also would like to mention that these tools were developed by @HaNdTriX, I'm just trying to maintain it in my free time. So I would forward your kind words to him. :slightly_smiling_face:

Cheers,
@balcsida

[2019-01-10 09:54] pbek commented on #125
Thank you for both your work! Extra free time work is always hard. I can sing a song about it at https://github.com/pbek/QOwnNotes :laughing: But kind words are at least a good motivation to keep us going.

[2019-02-15 02:02] bboydflo opened #134 "cannot pass vendorVersion option to webextension-toolbox"
## Expected Behavior
when calling this package like this: `webextension-toolbox dev chrome --vendorVersion=71` I expect the vendorVersion to be passed further to `src/compile` script. I think or it seems that it doesn't

I did a bit of research and wrote a bit more [here](https://github.com/webextension-toolbox/webextension-toolbox/commit/847bbf29fb663dada0996fcc4d1cea64be712510#diff-0180f431911bb

[2019-02-17 23:57] joelspadin opened #136 "Files copied in webextension-toolbox-config.js are not included in .zip package"
## Expected Behavior

If you have a webextension-toolbox-config.js that uses copy-webpack-plugin to copy files into the build directory, those files should get included in the .zip package.

## Current Behavior

The ZipPlugin added at [webpack-config.js line 183](https://github.com/webextension-toolbox/webextension-toolbox/blob/0183506baaf96eb0ae56cd70da71807bc8dbb65d/src/webpack-config.js#L183) r

[2019-02-21 16:26] HaNdTriX commented on #136
Thanks for raising this issue. webextension-toolbox copies all assets for you.  The problem with your code is that you are copying the assets to the src directory instead of the internal target directory.

[code]

[More Examples](https://github.com/webextension-toolbox/webextension-toolbox/blob/master/src/webpack-config.js#L151-L165)

Nevertheless why are you copying react here at all?

Just use

[2019-02-21 20:48] ChaosinaCan commented on #136
Thanks. I'll check if that works soon.

I reduced my example to just react, but I have a few other react libraries that I'm setting as external as well. I don't remember the exact reason I started doing this, but I believe it was either because I noticed an improvement in build times when not bundling react, or because I was having trouble getting source maps to play nicely with Chrome's debugger.

[2019-02-22 06:47] ChaosinaCan commented on #136
Unfortunately, that does not work.

"config.target" doesn't exist, but looking at [webpack-config.js](https://github.com/webextension-toolbox/webextension-toolbox/blob/master/src/webpack-config.js#L73) I'm assuming that "config.output.path" is what you meant.

I tried this:

[code]

But CopyPlugin appears to treat paths as relative to the output unless told otherwise, so that does the same thing a

[2019-02-24 13:42] ilan-toluna opened #138 "How can i set a config for my rest-api baseurl per ENV?"
Hi

I would like for dev and prod to have different urls for my REST api consumption.
How can i achieve this using a config file?

Thanks
Ilan

[2019-02-25 10:05] ilan-toluna commented on #138
To answer myself: using resolve.alias in webpack config

[2019-02-25 10:05] #138 closed

[2019-03-12 21:04] HaNdTriX commented on #134
Sorry for my late response. I am currently working on some other projects and didn't had the time to track this Repository. You are totally right.

I've just created a PR to fix this.

[2019-03-12 21:22] HaNdTriX commented on #122
Hey @ilan-toluna

First of all you have a little error in your code above. You need to `JSON.stringify` the value ([More Info](https://webpack.js.org/plugins/define-plugin/)).

Here is the correct configuration:

[code]

In addition to that please keep in mind that webpack **replaces** any occurrence of the keyword `GLOBAL_VAR`  in your code. It won't **define** the variable for you. In other word

[2019-03-12 21:22] #122 closed

[2019-03-12 21:56] HaNdTriX commented on #106
Here are some hints on how to get started with this issue:

webextension-toolbox needs the `manifest.json` in order to preconfigure the `WebextensionPlugin`.

https://github.com/webextension-toolbox/webextension-toolbox/blob/0183506baaf96eb0ae56cd70da71807bc8dbb65d/src/webpack-config.js#L35

If we want to improve the validation step we might want to do it here:

https://github.com/webextension-too

[2019-03-14 01:33] ChrisLMerrill opened #144 "Incompatable with webext-redux on Firefox"
## Expected Behavior

webextension-toolbox and webext-redux should work together in Firefox.

## Current Behavior

Content script hangs in Firefox. No useful message or stack trace in the console.

## Steps to Reproduce (for bugs)

1. Checkout example repository at: https://github.com/ChrisLMerrill/CrossBrowserWebextensionReactReduxExample
2. npm install
3. build for Firefox with "webextension-too

[2019-03-15 10:10] #134 closed

[2019-03-15 10:27] bboydflo commented on #136
@ChaosinaCan and @HaNdTriX I fixed this by doing something like this, it's a bit hacky but it worked for me 👍

[code]

[2019-03-15 10:55] balcsida opened #145 "[EPIC] Version 4 release"
After getting feedback from the community I believe adding react presets to core was not a good idea.

Therefore this PR introduces some breaking changes, that opens the this toolbox for frameworks like vue, svelte, angular and typescript.

## What changes?

From now on webextension-toolbox only includes relevant presets needed to create a browser extension. Actually the only preset that is includ

[2019-03-15 10:57] #145 closed

[2019-03-15 14:49] HaNdTriX commented on #136
@bboydflo https://github.com/webpack-contrib/copy-webpack-plugin/issues/357 😅

[2019-03-15 19:05] ChaosinaCan commented on #136
@bboydflo For some reason I'd overlooked the possibility of inserting the CopyPlugin at the front of the plugins list instead of pushing it onto the end. I think that would work the same as my hack to move the ZipPlugin to the end, and it's a lot simpler.

[2019-03-15 20:06] bboydflo commented on #136
@ChaosinaCan yes, it's not intuitive, but hope it solves the problem for now.

[2019-03-20 13:47] ilan-toluna opened #148 "FireFox extension signing"
Hi
I am aware that your documentation states that if extension signing is a requirement then you recommend using web-ext.

Can you please provide best solution to sign the FF extension while still using your toolbox?

[2019-03-24 00:17] ChrisLMerrill commented on #144
Bug was fixed in webext-redux.

[2019-03-24 00:17] #144 closed

[2019-03-26 09:41] balcsida opened #150 "Smoke test is not working on Windows"
Checking the logs for Windows on Azure DevOps, you can quickly notice that only `npm install` is performed but there are no output for `npm test`.
This should be fixed, every test should be performed on Windows as well.

[2019-03-26 09:44] balcsida commented on #82
Note myself:

https://github.com/rubenspgcavalcante/webpack-chrome-extension-reloader
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/reload

[2019-03-26 13:08] ilan-toluna opened #151 "Alter file name of packaged zip file"
Hi
How can i change the zip file name that is created after running "npm run build chrome"?
Is it possible by adding a config to webextension-toolbox-config.js?
Thanks

[2019-05-04 13:28] balcsida commented on #148
Hi @ilan-toluna,

Unfortunately, it is not possible to sign extensions with WebExtension Toolbox, you need to use web-ext to do this for Firefox.
If we would build this functionality in, it would still rely on web-ext, but that would mean another dependency that someone else wouldn't use ever.

Kind regards,
@balcsida

[2019-05-04 13:28] #148 closed

[2019-05-22 23:20] Niklv commented on #151
@ilan-toluna You can get access to ZipPlugin that toolbox use:

[code]

[2019-05-22 23:24] niklv opened #158 "manifest.json enviroment keys"
Is there anyway to do it?
I want add
[code]
to eval source maps in chrome dev console.

But I want to remove this line in production build.

[2019-05-23 00:03] balcsida commented on #158
Hi @Niklv,

I don't think it is possible to do this right now, but this sounds like a good feature request.
Do you have any other keys or scenarios where this environment specification would come handy?

Kind regards,
@balcsida

[2019-05-28 02:00] ChaosinaCan opened #159 "Add a compile done marker to dev output"
## Expected Behavior

It would be very helpful to add markers to the `webextension-toolbox dev ...` output to mark the start and end of the output for one compilation, similar to what is done by webpack-cli with the --info-verbosity=verbose option: https://github.com/webpack/webpack-cli/blob/master/bin/cli.js#L274

This would allow for tools that analyze the output of webextension-toolbox to ident

[2019-05-30 11:05] vincentreynaud commented on #106
Hi!

I am building a browser extension, [study-assist](https://github.com/vincentreynaud/study-assist/tree/extension-setup-vincent], and was running into the same issue `You need to provide a valid 'manifest.json'`. I couldn't really understand what was wrong with my folder structure, until I understood that `webextension-toolbox` looks by default into an `app` folder for the source code (mentione

[2019-05-30 11:09] vincentreynaud commented on #106
Something else that is unclear to me - this might belong in another discussion - is how to wire `webextension-toolbox` with my react app so that I have a single build script to run. At the moment I am running `react-scripts build && webextension-toolbox build --src 'build'`, so a first react build script, and then the webextension-toolbox build - taking my compiled `build` folder as source. It's a

[2019-05-31 23:19] balcsida commented on #159
Hi @ChaosinaCan,

This is an excellent improvement idea!
Unfortunately, I can't see yet when I will have time to implement this. So - if possible - could you please send a Pull Request?

Kind regards,
@balcsida

[2019-06-02 19:52] ChaosinaCan commented on #159
I think I've figured out where the code needs to go. Pull request incoming...

[2019-06-04 01:23] balcsida commented on #106
Hi @vincentreynaud,

Thank you for the feedback!

I'm already working on PR #115 which will address some of the issues you mention, but adding an extra check to make source the --src folder is set looks an easy task.

Kind regards,
@balcsida

[2019-06-04 01:27] balcsida commented on #159
Thank you so much for the PR!

[2019-06-04 16:00] #159 closed

[2019-06-04 16:07] balcsida opened #162 "Add unit tests"
WebExtension Toolbox needs better tests than my clumsy smoke tests
I think we can test the command line output using Jest (hint for me: https://repl.it/@SimenB/SphericalFirsthandOpengroup )

[2019-06-16 13:34] godadada opened #164 "WebSocket Connection Failure"
built the example bookmarkit extension for chrome and manually loaded to chrome. It shows an error message:

WebSocket connection to 'ws://127.0.0.1:35729/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

## Expected Behavior

no error message

no

## Current Behavior

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

| Tech

[2019-06-16 13:40] godadada commented on #164
the root of the issue may be because ws tries to connect to localhost. here is similar situation with another extension:

https://github.com/livereload/livereload-extensions/pull/35

[2019-06-16 14:23] balcsida commented on #164
Hi @godadada,

I'm so sorry this happened.
Could you please share the exact steps you used when this issue happened?

Kind regards,
@balcsida

[2019-06-19 22:40] NuroDev opened #165 "Add config path argument"
Would be a nice added CLI option to be able to manually specify the path to your `webextension-toolbox.config.js`. Since that's a bit of a mouthful it would be handy if I could rename it to something like `webext.config.js` or similar and be able to pass something like `--config` or `-c` to specify a config path 😄

[2019-06-30 21:06] balcsida commented on #165
Good idea! Thanks for the PR as well, started checking now...

[2019-07-01 08:30] balcsida commented on #165
Sorry, I went home to catch some Zs in the end

[2019-07-21 08:48] #165 closed

[2019-07-27 14:49] sigmike commented on #158
I also would like something similar. I have some variation of an extension and I would like the name and icons of the extension to change based on some environment variables. Right now I just generate a custom `manifest.json` before running dev or build.

[2019-09-23 17:21] OlegWock opened #174 "Ejecting WebPack config"
Thank you for this awesome tool! This is not a bug report, but something like question or maybe feature request. It sometimes required to change build process, sometimes webextension-toolbox-config.js works like a charm, but unfortunately not always. Sometimes I need to change built-in webpack config and I wonder can I somehow do 'eject' (like at create-react-app) and have webpack config in my pro

[2019-09-27 01:53] CanRau commented on #164
I'm not sure why it worked before for me and I'm pretty sure (not 100% though) that Brave (Chromium based browser) didn't update yet it seems to be a Chromium bug https://bugs.chromium.org/p/chromium/issues/detail?id=1006243
I'm on Chromium: 77.0.3865.90
In Google Chrome Canary v79.0.3924.0 it's working without a problem

Only thing that changed was that I added a `webextension-toolbox-config.js`

[2019-09-27 02:06] CanRau commented on #174
You can add a `webextension-toolbox-config.js` to the root of your project next to package.json
I use this to extend babel

[code]
This code allows you to use a `.babelrc` but it's actually overriding the default, you could alter it to just merge the two, or make your changes directly inside the above code.
I `console.log(config)` to know what to search for..

Hope that helps?
Uh and I believe tha

[2019-09-27 02:13] CanRau commented on #114
Based on your code @bboydflo and the `bookmarkit` example I noticed the possibility to provide a custom config to override webpack without monkey patching
Code in https://github.com/webextension-toolbox/webextension-toolbox/issues/174#issuecomment-535753367

[2019-09-28 08:21] OlegWock commented on #174
Yep, that's works for most cases, but if I understand correctly, using this file I can't change config for plugins, that are already added to config by webextension-toolbox

[2019-10-01 02:40] CanRau commented on #174
hum, my example is modifying the existing babel, that's not what you want?

[2019-10-02 07:01] OlegWock commented on #174
It does, but you modify options of Babel loader, which are passed as plain object. Instead I mean plugins which accept options at instance creating, like this

https://github.com/webextension-toolbox/webextension-toolbox/blob/master/src/webpack-config.js#L123

[2019-10-02 15:05] CanRau commented on #174
Uh got it, no idea 😅

[2019-10-16 12:47] HaNdTriX commented on #174
**File:** `webextension-toolbox-config.js`

[code]

[2019-10-17 10:58] Fedcomp opened #176 "Support for testing framework (mocha or other?)"
webextension-toolbox takes care of running webpack with it's own config so i can't use things like https://github.com/zinserjan/mocha-webpack

It would be cool to have testing frameworks support of some sort.

[2019-10-28 20:10] carlin-q-scott opened #187 "Sign packages"
Thank you for making this tool, but I feel like I was misled about the functionality.

## Expected Behavior
I expected the packages to be signed so that I can publish/share them.

## Current Behavior
Packages are just zip archives and still require signing in order to be installed in a browser.

## Context
I started using this tool thinking it would create signed packages. I had little other use f

[2019-11-15 12:20] psaeui opened #196 "support the manifest v.3"
## Expected Behavior
I have followed the migration to manifest v3 instructions (https://developer.chrome.com/extensions/migrating_to_manifest_v3) --> Replace background.page or background.scripts with background.service_worker in manifest.json. Note that the service_worker field takes a string, not an array of strings. I expect webextension-toolbox to compile my code successfully.

## Current Beha

[2019-12-09 15:18] Dealerpriest opened #207 "contentscript doesn't auto/hot reload"
## Expected Behavior
On save I expect the changes I've made to `contentscript.js` (or whichever file is set as `content_script` in `manifest.json`) to be reflected in the result when the page reloads.

## Current Behavior
The page reloads. But the `contentscript.js` is not running the made changes.

## Steps to Reproduce (for bugs)

1. Generate a webpack project using the Yeoman [generator-web-ext

[2019-12-19 12:57] Dealerpriest commented on #207
I would be interested in whether this is an actual bug or if it's something wrong with my setup? Are others experiencing the same problem?

[2020-01-28 14:41] Dealerpriest commented on #207
@balcsida
Do you have any thoughts on this?

[2020-03-17 22:22] ctownshend opened #247 "Support Firefox manifest.json v2 validation"
## Expected Behavior
When building an extension, I would like the toolbox to support the manifest keys that are provided by each of the major browsers, but especially Chrome and Firefox. Firefox schema is here - https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json
If I add browser_specific_settings - which is required to provide an id, then I expect to be able add a

[2020-03-17 23:00] ctownshend commented on #247
Working now.  Seems like I may have put in the wrong syntax. Closing

[2020-03-17 23:00] #247 closed

[2020-03-24 03:19] greatghoul commented on #158
You can do this by replace `manifest.json` content while compiling

`webextension-toolbox-config.js`

[code]

then in your manifest.json

[code]

[2020-03-24 03:22] greatghoul commented on #158
Do you have any other keys or scenarios where this environment specification would come handy?

@balcsida For example you have your extension to communicate the api server, but api used in development is a test server, while published, it should be production server. You need to add different url permissions in manifest.json

[2020-04-25 05:36] SnidelyWhiplash commented on #207
I'm also experiencing this, at least in Firefox. Chrome seems to work as expected.

[2020-05-02 06:07] SnidelyWhiplash opened #271 "Doesn't Edge need to be polyfilled?"
## Expected Behavior

Edge should work out of the box.

## Current Behavior

Edge extension does not work.

## Steps to Reproduce (for bugs)

1. Try to access any APIs via `browser` in either a background or content script
2. Run your extension in Edge
3. You'll get a `browser is not defined` runtime error

## Context

As I understand it, Edge is (recently?) using the chromium APIs, not the Mozill

[2020-06-22 10:07] Akurganow opened #292 "Build freezes"
Trying to build the extension for chrome

## Expected Behavior
Successful build
## Current Behavior
See this errors:
[code]
Then build freezes
## Steps to Reproduce (for bugs)
1. Clone [repository](https://github.com/Akurganow/webextension-toolbox-example)
2. Run `npm install`
3. Run `npm run build chrome`

## Your Environment
| Tech | Version |
|-------------------------|---------|
| webextension

[2020-07-04 09:02] SITZ opened #308 "Background script injection override fails auto-reload when using html page"
## Expected Behavior

`webextension-toolbox/client.js` should be injected in background.html page or the page should be loaded automatically by using relevant script (if both modes for background as indeed going to be supported?)

## Current Behavior

`webextension-toolbox/client.js` directly gets injected into manifest.json even when using html page for background

## Steps to Reproduce (for bugs

[2020-07-14 14:24] here-nerd opened #309 "npm audit reports a lot of issues"
One of the reported issues is a Cross-Site Scripting on serialize-javascript.
I am willing to fix, test and submit a pullrequest. Please let me know if you find it important enough to do. I am asking because I have not seen a lot of activities for a long time. It's a pity for a good project like this for being discontinued. I just want to help.

[2020-07-16 03:18] kensplanet commented on #308
The best solution here would be to detect if `background.page` and if it does, inject `webextension-toolbox/client.js` in background.html instead of adding it in background.scripts.

[2020-09-26 20:25] pbek commented on #309
I've that alert on my radar too for a long time: https://github.com/qownnotes/web-companion/network/alert/package-lock.json/serialize-javascript/closed 😅

[2020-10-09 09:23] here-nerd commented on #309
@pbek, thank you for your reply. Somehow, I cannot open your link. It appears not found (404).

[2020-10-09 14:51] pbek commented on #309
Ah, seems like only I can access them in my repo.

![image](https://user-images.githubusercontent.com/1798101/95597969-a319c000-0a4f-11eb-9e45-0076c9c28ef5.png)

[2020-10-20 02:53] juharris opened #344 "How to use this with React?"
First, thank you very much for this helpful project!

I've been using this tool for my browser action and now I would like use React in that browser action. Can you provide more details with how to use this with React?

[2020-10-23 21:11] fapdash commented on #271
@SnidelyWhiplash For now you can add a file named `webextension-toolbox-config.js` at the toplevel of your project:

[code]

This way you don't need the custom fix on top of all of your script files.

[2020-10-23 22:24] SnidelyWhiplash commented on #271
Thanks @fapdash I'll try it out 👍

[2020-11-06 14:46] here-nerd commented on #309
@pbek thanks for the information.
I can see that the fix of this issue has already been merged to master [here](https://github.com/webextension-toolbox/webextension-toolbox/commit/65c0f1ca977b68db3927ea9b013bf9cf8bac2dc7#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519). Can anyone help? How to release a new version?

[2020-11-06 21:34] here-nerd commented on #309
For now, I just took the commit that copy-webpack-plugin is bumped to ^5.0.0. It seems to help me.

npm install https://github.com/webextension-toolbox/webextension-toolbox.git#65c0f1ca977b68db3927ea9b013bf9cf8bac2dc7 --save-dev

[2020-11-15 10:09] balcsida commented on #309
Hi folks,

I'm sorry for not responding earlier to this (or any other issues, for that matter). I was and still bloated by work every day and on my weekends, I usually just try to rest out the weekly hustle.
I'll check the dependency updates today and try to release an updated version today, if possible.

Thanks for your patience! 🙇

[2020-11-15 10:52] pbek commented on #309
Awesome, thank you, @balcsida! 🥳

[2020-11-15 22:13] balcsida commented on #309
Despite my best effort, I couldn't finish upgrading the webpack plugin dependency, therefore no new releases today. Sorry to disappoint.

[2020-11-16 05:22] pbek commented on #309
Next time then. 😁

[2020-11-16 09:16] here-nerd commented on #309
@balcsida Thank you already.. sincerely appreciate it.

[2020-11-17 21:32] balcsida commented on #309
It seems that I was able to release a new version of [webpack-webextension-plugin](https://github.com/webextension-toolbox/webpack-webextension-plugin), but now I'm struggling with the upgrade from Webpack v4 to v5.

[2020-11-18 05:55] pbek commented on #309
Great new, thank you so far! 🥳

[2020-12-12 17:51] parasharrajat commented on #78
Hey, I think we can build up for Safari as well.
[Safari Web Extensions](https://developer.apple.com/documentation/safariservices/safari_web_extensions).

[2020-12-12 17:52] parasharrajat opened #373 "Safari support"
Hey, I think we can build up for Safari as well.
[Safari Web Extensions](https://developer.apple.com/documentation/safariservices/safari_web_extensions).

_Originally posted by @parasharrajat in https://github.com/webextension-toolbox/webextension-toolbox/issues/78#issuecomment-743791654_

[2020-12-26 10:05] ThePaavero commented on #207
Same here. Windows 10, Firefox 84.0.

[2020-12-28 09:44] here-nerd commented on #373
Currently, the webextension-toolbox does not recognize 'safari' as a build parameter.

[2020-12-29 20:27] parasharrajat commented on #373
I meant to extend the toolbox for safari as well.

[2020-12-30 15:54] here-nerd commented on #373
I get the point. Indeed it would be very nice to fully support Safari Web Extension build. Currently, Safari offers a converter cli 'xcrun' which will pack ie. a chrome web extension into an xcode project. Then you can sign / launch a Safari Web Extension from there.

What is exactly your proposal? Which part of this flow should webextension-toolbox support?

I think a very small step e.g. by just

[2021-01-01 13:30] parasharrajat commented on #373
@here-nerd  Exactly, we can hook converter cli into the build tool and add safari build parameters. This will just play nicely for most of the things and then we can add types support from the https://www.npmjs.com/package/@types/chrome/v/0.0.127, if possible.

I don't own a mac otherwise I would have set a pull request.

[2021-01-02 16:17] juharris commented on #344
I was trying to use this with create-react-app but I see now that it works fine when you add React more "manually" and add `ReactDOM.render` yourself following the instructions at https://reactjs.org/docs/add-react-to-a-website.html

I also got this to work with .tsx files by going through some issues/PRs in this repo. My code will be at https://github.com/emogit/emojit

[2021-01-02 16:17] #344 closed

[2021-01-03 16:55] balcsida commented on #373
Hi @parasharrajat,

Thank you for bringing this up again.
Currently, I don't own any macOS devices either, but I'm checking the offerings of MacStadium.
I will try to save up to rent one in the coming months and check this idea, if possible.

Regardless of that, this is free to be picked up by anyone who would like to pursue this idea.

[2021-01-11 14:53] here-nerd commented on #373
I think I can give it a try. But let's first agree on what should be the expected behaviour. Here is my proposal:
At the minimum, the new feature should just do this:
- add safari build parameters with manifest keys support.

Next step:
- hook to an xcode cli build command so that a developer won't have to open xcode during development at all.

Out of scope:
- xcrun (the converter) should be the r

[2021-01-12 16:47] parasharrajat commented on #373
Good one. Fire up.

[2021-01-28 20:01] here-nerd commented on #373
@balcsida, please review my PR in the webpack-webextension-plugin repo.
https://github.com/webextension-toolbox/webpack-webextension-plugin/pull/89

Apparently, I need this code change in webpack-webextension-plugin in order to support safari keyword. After a merge, I will submit another PR for webextension-toolbox.

[2021-02-10 08:16] balcsida commented on #373
Hi @here-nerd,

Sure, PR merged. 😉

[2021-03-16 22:19] boscorona commented on #196
I have the same issue, just need to update chrome build tools to support mv3.

[2021-06-02 06:26] pbek commented on #309
Hi, @balcsida. Any news on maybe releasing a new version of https://www.npmjs.com/package/webextension-toolbox with all those dependency fixes you included already?

[2021-06-21 08:20] #271 closed

[2021-06-21 19:26] balcsida commented on #309
Hi folks,
I know that I let you down many times, but I'm like inches away from releasing a new version.
Thank you so much for bearing with me! 🙇

[2021-06-22 04:02] pbek commented on #309
Yay, I can't wait to test it! 😁 🎉

[2021-06-22 09:11] balcsida commented on #309
After 3 years, I've released [v4.0.0](https://github.com/webextension-toolbox/webextension-toolbox/releases/tag/v4.0.0) (and v4.0.1 shortly after that 😅).
Please test it and open a new issue if anything is broken.

[2021-06-22 09:32] pbek commented on #309
Is there a migration path from v3 to v4? I get a lot of errors when doing `webextension-toolbox dev chrome` for https://github.com/qownnotes/web-companion/ with webextension-toolbox 4.0.1:

[code]

[2021-06-22 11:01] pbek commented on #309
And is the `webextension-toolbox-config.js` still used for adapting the settings? It doesn't seem to get loaded (no errors are thrown from there).

[2021-06-22 15:28] balcsida commented on #309
Hmm, I didn't encounter that issue, let me check that on my side

[2021-06-23 04:33] pbek commented on #309
Should I open a new issue?

[2021-06-26 14:28] gautamkrishnar opened #484 "Manifest file missing in the generated packages"
## Expected Behavior
Manifest file should be in the zip packages

## Current Behavior
There is no Manifest file in the generated packages/* packages while running ` webextension-toolbox <vendor>`

## Steps to Reproduce (for bugs)
1. Init extension using https://github.com/webextension-toolbox/generator-web-extension
2. Run `npm run build <vendor>`

## Context
I cant submit the built packages to st

[2021-06-26 19:32] gautamkrishnar commented on #484
Source code: https://github.com/gautamkrishnar/refined-github-feeds

[2021-06-28 07:16] balcsida commented on #309
It should be fixed now, no need for separate issue 😅

[2021-06-28 15:06] onikienko opened #489 ""TypeError: this.readFile is not a function" when running with v4.0.2"
## Expected Behavior
Should be able to run extension.

## Current Behavior
When `npm run dev chrome` have error like that:

[code]

## Steps to Reproduce (for bugs)
1. Bootstrap new extension with [generator-web-extension](https://github.com/webextension-toolbox/generator-web-extension). I selected `Browser` for `Would you like to use UI Action?` question.
2. After finish run `npm run dev chrome`.

[2021-06-28 19:29] onikienko commented on #489
Just checked with `./examples/bookmark-it` extension from this repo. Have same error here.

[2021-06-30 13:56] jcblw commented on #489
Ran into this issue as well. I have not looked too much at why this change was made but once I reverted the change everything worked again.

https://github.com/webextension-toolbox/webpack-webextension-plugin/commit/6693298b01329abc97c255c4ddc73eaa12103af8

v4.0.2 introduced the new version of the `webpack-webextension-plugin` (0.4.0) which contains this commit.

[2021-07-01 09:48] balcsida commented on #489
Hi folks,

Thank you so much for reporting this and bearing with this issue - I'll check this on Sunday at earliest.

[2021-07-01 09:51] balcsida commented on #309
Hi @pbek,

That is... Really shameful of me, my apologies. I tried to test to my best effort, but I didn't run into these issues.
The latter one was reported on #489 as well, I'll take a look at these at Sunday at earliest.

[2021-07-01 09:53] pbek commented on #309
Thank you, I'll subscribe that issue too then.

[2021-07-02 15:16] jcblw commented on #489
Coming back to this. Found out lots of my issues had to do with Webpack 4 to 5. I had a version of Webpack 4 pinned in my application.

[2021-07-02 18:56] pbek commented on #489
I don't use webpack myself in my project and I have found only webpack 5.40.0 in my lock file.

[2021-07-03 04:57] rthaut commented on #489
I just opened #116 to fix this issue. Hopefully it saves you some time, @balcsida.

[2021-07-03 05:01] pbek commented on #489
@rthaut, #116, are you sure? That's an issue from 2018.

[2021-07-03 05:02] pbek commented on #489
Found it, you mean https://github.com/webextension-toolbox/webpack-webextension-plugin/pull/116, right?

[2021-07-04 17:58] #489 closed

[2021-07-05 17:38] rthaut opened #495 "`@babel/preset-env` Ignores Project Browserslist Config for `targets`"
## Expected Behavior
When using a valid browserslist config (ex: in package.json), the `@babel/preset-env` plugin for `babel-loader` should be targeting the browser(s)/vendor(s) specified in the config if no browser/vendor version is explicitly defined (via the `-v`/`--vendorVersion` flag).

## Current Behavior
The `@babel/preset-env` plugin for `babel-loader` ignores the browserslist config and i

[2021-07-06 13:14] pbek commented on #309
@balcsidam, I found out that it now needs to placed in the `app` folder instead of the root folder!

[2021-07-06 14:14] pbek opened #499 "Doesn't build when using webextension-toolbox-config.js"
## Expected Behavior
- webextension-toolbox boilerplate project builds without errors while using `webextension-toolbox-config.js`

## Current Behavior
- Error message `webpack compiled with 82 errors and 10 warnings`

## Steps to Reproduce (for bugs)
1. create project with `yo web-extension` like suggested [here](https://github.com/webextension-toolbox/generator-web-extension#getting-started) (pr

[2021-07-06 14:15] pbek commented on #309
But projects don't seem to build any more with it, see https://github.com/webextension-toolbox/webextension-toolbox/issues/499

[2021-07-13 12:46] FezVrasta commented on #196
Google is now actively pushing users to migrate to the manifest v3, any chance for this project to add support for it?

[2021-07-18 14:37] balcsida commented on #309
Thanks @pbek for reporting it!
As the originally reported issue is no longer present, I'll mark this as Closed to reduce the noise.

[2021-07-18 14:37] #309 closed

[2021-07-23 09:24] onikienko commented on #499
@pbek You have to add `webextension-toolbox-config.js` to the project root. Not into `app` folder

[2021-07-23 10:35] pbek commented on #499
Originally (at version 3) I had it in the root directory, but the file gets ignored completely in the root directory in version 4 (see https://github.com/webextension-toolbox/webextension-toolbox/issues/309#issuecomment-865885103).

[2021-07-23 10:41] pbek commented on #499
I just tried again with 4.0.3. The only directory where `webextension-toolbox-config.js` seems to get recognized is when it is in the `app` directory. Putting it into the project root (so one level up from `app`) work out for me.

[2021-07-26 03:21] rthaut commented on #499
@pbek you need to name the file `webextension-toolbox.config.js` (note the period/dot between "toolbox" and "config"), as defined in the [main binary file/script here](https://github.com/webextension-toolbox/webextension-toolbox/blob/master/bin/webextension-toolbox#L12). With that name you can place it in the root directory and have it picked up automatically.

This appears to be an issue with the

[2021-07-26 09:09] pbek commented on #499
Thank you for the hint. The file seems to be recognized now, but with a `const webpack = require('webpack')` in it (according to the documentation) you will now get `82 errors and 10 warnings`, like:

[code]

[2021-08-05 17:58] onikienko commented on #499
@pbek

I am not sure that it will help, but I do not require webpack `const webpack = require('webpack')` in my `webextension-toolbox.config.js`. And it works.

My file looks like:
[code]

[2021-08-06 06:15] pbek commented on #499
@onikienko, that really helped. Thank you very much!
I needed to drop my:

[code]

But I could use:

[code]

...at the start of `webextension-toolbox.config.js`.

Seems like https://github.com/webextension-toolbox/webextension-toolbox#customizing-webpack-config need even more changes.

[2021-08-06 06:23] pbek commented on #499
I created a PR https://github.com/webextension-toolbox/webextension-toolbox/pull/515 for the documentation change.

[2021-08-12 13:12] here-nerd commented on #196
It seems like the issue is way bigger than just in the manifest file. I have tried to 'hack' the resulting build by manually changing the content of manifest and stuffs in order to see if my web extension still runs on MV3.
I get stuck with e.g. window is not defined (where I don't use 'window' in my backgroundscript code) -- it turns out that webextension-polyfill requires 'window' and this code

[2021-08-13 11:07] here-nerd opened #523 "Doesn't build when there is no /app/_locales/**/*.json"
## Expected Behavior
Build successfully

## Current Behavior
Get a build error:
`"ERROR in unable to locate '/app/_locales/**/*.json' glob"`

## Steps to Reproduce (for bugs)
`$ webextension-toolbox dev chrome`

## Context
I have just upgraded my webextesion-toolbox from v3 to v4.0.3 and I can no longer build my web extension anymore.

I think this is related to commit [Fix Windows globs](https://

[2021-08-14 14:50] alechemy commented on #120
As someone new to this toolkit, and WebExtension development generally, I think I understand where @jameschensmith is coming from -- I encountered the same issue myself.

The README for this project instructs the user to begin development by running `webextension-toolbox dev <vendor>`, e.g.  `webextension-toolbox dev chrome`.

It's not entirely clear where to go from here.

Users such as myself wi

[2021-09-13 16:40] raphaelmenges opened #539 "Localization keys are not replaced with strings"
Thank you for the toolbox! Perhaps I have a misunderstanding about its functionality in regard to localization, yet, at least clarification in the documentation might be added.

## Expected Behavior
I would expect the the strings `"__MSG_<key>__"`, e.g., as used in the `manifest.json` in the "bookmark-it" example, to be replaced with the localized strings as defined in `app/_locales/en/messages.js

[2021-09-18 09:55] gautamkrishnar commented on #539
@raphaelmenges this is expected, most browsers support keys that way
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Internationalization
https://developer.chrome.com/docs/extensions/reference/i18n/

[2021-09-18 10:46] raphaelmenges commented on #539
Ah! I did not know about this, thank you very much @gautamkrishnar. I will close the issue :)

[2021-09-18 10:46] #539 closed

[2021-09-26 08:49] yamadashy commented on #93
In `webextension-toolbox` v4, `copyIgnore` has breaking changed on `copy-webpack-plugin >= v6`.
https://github.com/webpack-contrib/copy-webpack-plugin/blob/797a006521521603d5cdf34b1041a59ade07dd25/CHANGELOG.md#600-2020-05-15

I changed `copyIgnore` in this comment's code to this and it worked.
https://github.com/webextension-toolbox/webextension-toolbox/issues/93#issuecomment-422022157
[code]

[2021-09-30 11:46] here-nerd commented on #373
apparently, after wwdc2021, Apple has updated the [page](https://developer.apple.com/documentation/safariservices/safari_web_extensions/updating_a_safari_web_extension) with an instruction how to build a web extension using xcode commandline in an external editor. (I have been (not actively) looking for this for quite sometimes :( )

`xcodebuild -scheme HelloWorld\ \(macOS\) build`

then, we can i

[2021-10-30 09:08] gautamkrishnar commented on #196
@balcsida did you guys stop maintaining the library?

[2021-11-27 07:44] tm1000 commented on #82
https://github.com/rubenspgcavalcante/webpack-chrome-extension-reloader

is archived in favor of

https://github.com/rubenspgcavalcante/webpack-extension-reloader

[2021-11-29 17:59] tm1000 opened #569 "Maintainers or Abandoned?"
@balcsida I'm looking to see what the status of this repository is and the organization itself. It seems like you are the only member. There are some pretty big features/bugs coming out that the community has already provided fixes for that I think should have priority in releases but it's not clear where the direction of this project is going.

Example(s):
- #196
- #373
- #143

Do you need more c

[2022-01-06 21:12] QtFuta opened #578 "--autoReload flag not working properly"
## Expected Behavior
When sending `--autoReload false` the extension should not try to connect to the Web plugin.

In here is missing `autoreload: arguments[0].autoReload,` or similar
https://github.com/webextension-toolbox/webextension-toolbox/blob/c8e99559585005df2fff42bfe7e8737ab22d4052/src/webpack-config.js#L174-L183

Commander, the library used for the CLI, doesn't work very well with boolean

[2022-02-13 08:17] pbek commented on #196
January 2023: The Chrome browser will no longer run Manifest V2 extensions.

See: https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/

[2022-02-13 08:19] pbek commented on #569
In about 11 month it's game over for Chrome extensions. 😢

January 2023: The Chrome browser will no longer run Manifest V2 extensions.
See: https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/

[2022-02-13 14:24] tm1000 commented on #569
@pbek Yes it's too bad. I emailed the maintainer and he got back to me a few days later and said he had to talk to someone else. That person never got back. This project is dead. No one should use it. It should be forked

[2022-02-13 14:28] tm1000 commented on #196
I got feedback over email from @balcsida. He said he needed to think about adding additional maintainers. Then he added @HaNdTriX in the email and asked him. That was in December. I never heard anything more.

This project is essentially dead and should be forked by a proper maintainer.

[2022-02-13 15:40] balcsida commented on #569
Hey folks,

So sorry for not getting back to you after @HaNdTriX was not responsive.
I sent you an invite to the project, @tm1000

[2022-02-13 15:53] balcsida commented on #196
@FezVrasta : you should check [mozilla/web-ext](https://github.com/mozilla/web-ext) as an alternative

I invited @tm1000 to the organization. I honestly don't have any intention or will (or energy) to work on this and as far as I know there are no PRs for the v3 manifest support.

[2022-02-13 16:00] tm1000 commented on #569
@balcsida thanks. I accepted your invite.

Since you have no interest in this and also @HaNdTriX isn't responding can you please also make me an owner. As if you disappear then I will be in a sore position to maintain this

Additionally who owns the npm login

[2022-02-13 16:05] balcsida commented on #569
To be honest, you are completely right @tm1000, I feel burned out. This project was fun while there was a project that I could use it on. I no longer have the time or energy to develop WebExtensions and that caused the obvious downfall of this project.

Tried to keep it up, and all I got in return was DMs and emails for free help.
Hats off to you folks, I don't know how you can work on Open Source

[2022-02-13 16:12] balcsida commented on #569
@tm1000 yup, modified you to be owner (forgot to select the correct one on invitation).
Is your NPM username the same as your GitHub user?

[2022-02-13 16:21] tm1000 commented on #569
Yes my npm is the same

[2022-02-13 16:43] tm1000 commented on #196
@here-nerd are you willing to do a PR?

[2022-02-13 18:57] tm1000 opened #589 "v5 - Future"
👋 Hi All.

I've taken over maintaining duties from @balcsida and @HaNdTriX.

Let's start discussion on v5.

1. CRITICAL: Support Manifest v3 (https://github.com/webextension-toolbox/webextension-toolbox/issues/196)
2. MINOR: Typescript support by default (not forced, but should work at least without modifications) (https://github.com/webextension-toolbox/webextension-toolbox/issues/93)
3. MINOR: S

[2022-02-13 19:09] tm1000 commented on #196
See #589

[2022-02-14 06:17] rthaut commented on #589
Regarding support for Manifest v3, will the goal be to support both v2 and v3 concurrently? Or would it be a full/hard switch to v3?

I realize that eventually there would be no need to support v2 at all, but I don't think all vendors will switch to v3 (and be stable) at exactly the same time. It would be unfortunate to need different versions of this tool depending on which browser (i.e. manifest

[2022-02-14 14:50] tm1000 commented on #589
It's not a problem to support both because ultimately it's up to you as the developer in the end what you want to do

The breaking change in v5 will be removing the pollyfill. You can always add back the poly fully manually yourself but it won't be included anymore

[2022-02-16 08:13] here-nerd commented on #589
My 2-cent: agree to @tm1000 to support both V3 and V2. Firefox has a[ plan to support MV3](https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/) (latest updated 27May2021). To the best of my knowledge, I don't think Safari says anything about MV3.

[2022-02-16 08:26] here-nerd commented on #196
@tm1000 Ok, I will do it. It has been a while since I looked at the issue. So, please bare with me. It won't be quick fix. If I don't make any progress in a week, I will let you know.

[2022-02-17 05:15] pbek commented on #196
This is what I am currently doing to get around the "remove background script from manifest" issue:

[code]

see: https://github.com/qownnotes/web-companion/blob/9d6951185d830aef2b232cf1548bb40ce74cf0d3/build.sh#L11-L15

For Firefox I still build a manifest v2 version with a background job...

[2022-02-17 10:12] here-nerd commented on #196
I don't know how to achieve this yet.. but what do you think about a declarative approach e.g.

"__chrome|edge|__manifest_version": 3,
"__firefox__manifest_version": 2,

[2022-02-17 12:33] pbek commented on #196
I did the same: https://github.com/qownnotes/web-companion/blob/9d6951185d830aef2b232cf1548bb40ce74cf0d3/app/manifest.json#L6-L7

[2022-02-17 12:34] pbek commented on #196
https://github.com/qownnotes/web-companion now works with Firefox (background script, manifest v2) and Chrome (service worker, manifest v3).

[2022-02-17 15:45] tm1000 commented on #196
@pbek thank you for showing a workaround for now!

[2022-02-17 16:03] pbek commented on #196
To get the extension into the Chrome Store it is also important to set `"minimum_chrome_version": "88.0",` (at least 88.0), because that's since when manifest v3 was present in Chrome. https://github.com/qownnotes/web-companion is already in the Chrome store with manifest v3! 🎉

[2022-02-17 16:05] pbek commented on #196
It's too bad Firefox doesn't support manifest v3, it would have made things a lot easier...

[2022-02-17 16:38] pbek commented on #196
I didn't need the `module.exports = globalThis` and the "remove webextension polyfill" workarounds. I first tried with them, but later I found out on another machine that everything still worked fine without them, so I didn't include that in my release process.

[2022-02-18 03:58] yuis-ice opened #592 "Error: listen EADDRINUSE: address already in use :::35729"
## Expected Behavior

No error.
Or I'd like to know how to set a port instead of the default port.

## Current Behavior

[code]

## Steps to Reproduce (for bugs)

[code]

[code]

The almost full error log:

[code]

## Context

I'd like to know how to set a port instead of the default port.

## Your Environment

| Tech                    | Version |
|-------------------------|---------|
| webextens

[2022-02-22 17:49] here-nerd commented on #196
@tm1000, I want to give you a heads up. To support MV3, I will need to make PR on "Webpack WebExtension Plugin", then the maintainer needs to merge and release that. This is to support the manifest v3 syntax.. the v2 requires "scripts" under "background". Then I will create another PR here to use the latest Webpack WebExtension Plugin.
Are you the maintainer of Webpack WebExtension Plugin too? Can

[2022-02-22 17:50] tm1000 commented on #196
@here-nerd I’m an admin on all projects under this organization so go for it and I will merge it

[2022-02-22 19:53] here-nerd commented on #196
alright, just submitted a PR. Please review.

[2022-02-23 05:32] tm1000 commented on #196
@here-nerd I've merged your PR and also updated most of the dependencies. Give me 24 hours to evaluate the github actions for publishing

[2022-03-02 21:55] #106 closed

[2022-03-07 18:29] tm1000 commented on #589
The way @here-nerd achieved this is is by disabling the manifest validator for now.

For further progress see: https://github.com/webextension-toolbox/webextension-toolbox/milestone/1

[2022-03-07 18:29] #589 closed

[2022-03-07 18:30] tm1000 commented on #578
Thanks!

[2022-03-07 18:37] tm1000 commented on #499
Closed from #515

[2022-03-07 18:37] #499 closed

[2022-03-07 18:43] tm1000 commented on #495
Merging #143 removed the presets file. So this is either not needed or out of date.

[2022-03-07 18:43] #495 closed

[2022-03-07 18:45] tm1000 commented on #484
This seems to be working fine?

[2022-03-07 18:45] #484 closed

[2022-03-07 18:48] tm1000 commented on #207
See #82

[2022-03-07 18:48] #207 closed

[2022-03-07 18:48] tm1000 commented on #82
[rubenspgcavalcante/webpack-extension-reloader](https://github.com/rubenspgcavalcante/webpack-extension-reloader)

Is abandonware as well..... ~sigh~

[2022-03-07 18:50] tm1000 commented on #292
Seems to be working fine now?

[2022-03-07 18:50] #292 closed

[2022-03-07 18:54] tm1000 commented on #187
Could use https://github.com/mozilla/sign-addon for firefox.

I dont think any other vendor supports signing (unless I'm mistaken)

[2022-03-07 18:56] tm1000 commented on #176
You can supply a custom webpack config https://github.com/webextension-toolbox/webextension-toolbox#customizing-webpack-config

[2022-03-07 18:56] #176 closed

[2022-03-07 18:57] tm1000 commented on #174
I have no idea how rejecting works in React because I never use create-react-app.

My thoughts would be that ejecting would just move the config up and then have it copy itself out.

[2022-03-07 19:02] #164 closed

[2022-03-07 19:04] tm1000 commented on #114
#174 will solve this. In #143 we removed the need for React.

[2022-03-07 19:04] #114 closed

[2022-03-07 19:05] #151 closed

[2022-03-07 19:05] tm1000 commented on #125
Fixed from #143

[2022-03-07 19:05] #125 closed

[2022-03-07 19:06] tm1000 commented on #150
Seems to work on github actions

[2022-03-07 19:06] #150 closed

[2022-03-07 19:07] #136 closed

[2022-03-07 20:18] #93 closed

[2022-03-07 20:30] gautamkrishnar commented on #484
yes, it is working now. Thanks for closing.

[2022-03-15 19:56] csandman commented on #589
As for the TypeScript support, it would be ideal if the `browser` type was recognized automatically.  I know there is [`@types/chrome`](https://www.npmjs.com/package/@types/chrome) which can be used for supporting the global `chrome` variable and the `browser` variable could probably be pointed to using that. However, I am relatively new to TypeScript and haven't figured out the right way to do it

[2022-03-15 20:43] csandman commented on #589
Actually nevermind, the [`@types/firefox-webext-browser`](https://www.npmjs.com/package/@types/firefox-webext-browser) is probably more appropriate for this.

[2022-03-15 21:50] tm1000 commented on #589
@csandman nice find! We should put this in the docs. In master it already supports typescript

[2022-03-15 22:50] csandman commented on #589
@tm1000 is it possible to use that TS implementation in the most recent version published on NPM?

[2022-03-15 22:51] tm1000 commented on #589
@csandman no I haven't published it because there's some other milestones I am trying to reach: https://github.com/webextension-toolbox/webextension-toolbox/milestone/1

[2022-03-16 21:19] csandman commented on #589
Got it, well adding that type package to this package might be a good idea for having typescript work out of the box

[2022-03-18 15:30] here-nerd commented on #196
[Safari 15.4](https://developer.apple.com/documentation/safari-release-notes/safari-15_4-release-notes) : Added support for manifest_version 3 and related API changes.

[2022-03-20 18:06] #592 closed

[2022-03-20 18:38] #523 closed

[2022-03-22 03:03] juharris commented on #589
Thanks so much for taking over this very helpful tool!

What would you like to see in future versions

I'm glad to see TypeScript support by default cause that was tricky to get working until I found the example. CSS importing help with TypeScript would be great too:
[code]

More support so that new developers don't even know to think about webpack would be great. I'm struggling to find a good way

[2022-04-06 03:27] tm1000 commented on #158
This is now in 5.0.0

[2022-04-06 03:27] #158 closed

[2022-04-06 06:21] #578 closed

[2022-04-06 20:41] tm1000 commented on #373
I think this is pretty much done unless we specifically want to implement `xcode-build-webpack-plugin` but I dont think that's a good idea because there seem to be additional sets you must take before you can use `xcode-build-webpack-plugin` that can't be automated. Let me know if I'm wrong here

[2022-04-06 20:43] tm1000 commented on #308
This is completed in 5.0.0

[2022-04-06 20:43] #308 closed

[2022-04-06 21:46] csandman commented on #373
Overall, it could be automated, but the steps to do so aren't as straightforward as the rest.

To answer your direct question, for the conversion process, it uses the directory which is the last argument in `safari-web-extension-converter` as the _source_ for the safari extension, and it includes that source in the output, so they can't be the same directory.  The resulting safari extension does u

[2022-05-13 15:33] j1mie commented on #82
Hey @tm1000 this repo appears to be maintained: https://github.com/SimplifyJobs/webpack-ext-reloader

Do you have any suggestions for workarounds in the meantime?

Awesome work on v5 by the way!

[2022-05-13 15:50] j1mie commented on #82
@tm1000 it doesn't appear to reload the browser for me when I make changes, or to log anything in the service working (on Chrome, Manifest V3, with React). I can try this on a fresh project and see if it isn't something to do with my own setup.

[2022-05-13 15:52] tm1000 commented on #82
@j1mie if you have time to see if it works on a fresh repo that would be great because then you could send me that repo and I can investigate.

As for me I'm using a service worker in my company's extension and I see the logging so I know it's working. But that's "on my machine"

[2022-05-13 16:11] j1mie commented on #82
@tm1000 created a repo here https://github.com/j1mie/test_extension

Doesn't refresh the browser when saving... but could also be a my-machine problem!

[2022-05-13 16:12] tm1000 commented on #82
@j1mie thanks! I'll look at it next week

[2022-05-31 09:45] j1mie commented on #82
@tm1000 Hi there, wondering if you had a chance to review? Thanks!

[2022-06-03 21:01] tm1000 commented on #82
@j1mie I identified the issue. See https://github.com/webextension-toolbox/webpack-webextension-plugin/issues/204

[2022-06-03 21:01] #82 closed

[2022-10-05 17:38] JaroslawPokropinski opened #656 "Setup with additional webextension-toolbox.config.js config seems to fail on windows 11"
## Expected Behavior
Running dev/build does not throw `Error: Cannot find module` error.

## Current Behavior
Running `webextension-toolbox build -s src --no-manifest-validation "chrome"` throws:
[code]

## Steps to Reproduce (for bugs)

1. Create `webextension-toolbox.config.js` configuration file
2. Run `npm run dev chrome`

## Context

Running build with additional webpack configuration seems t

[2022-10-19 19:32] tm1000 commented on #656
The reason for the code you removed was so that it worked in github actions on their windows builder.

[2022-11-16 00:21] #162 closed

[2022-11-16 00:21] #187 closed

[2022-11-16 00:21] #373 closed